body {
    background-color: rgb(6, 0, 54);
}

.from-box{
    top: 200px;
    margin: auto;
    width: 300px;
    height: 245px;
    border-radius: 10px;
    background-color: rgb(234, 248, 107);
    text-align: center;
    position: relative;
}

.from-name{
    position: absolute;
    top: 30px;
}

.from-name label{
    font-weight: bold;
    font-size: 30px;
}

.from-name input[type=text]{
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(25, 105, 255);
    margin: 30px 0px 30px 0px;
}

.from-name input[type=text]:focus{
    outline: 0;
    background-color: rgb(122, 224, 255);
}

.from-name button{
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #30e618;
    font-weight: bold;
    font-size: 20px;
    margin: 0px 0px 30px 0px;
}

.from-name button:hover{
    outline: 0;
    background-color: #047500;
    
}